# .github/workflows/deploy.yml
name: Deploy Flutter Web App to GitHub Pages

on:
  push:
    branches:
      - main  # Replace with your default branch if different

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Set Up Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '11'

      - name: Set Up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: 'latest' 
          channel: 'stable'

      - name: Install Dependencies
        run: flutter pub get

      - name: Build Flutter Web App
        run: flutter build web --release

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build/web
